body {
  background-image: url("https://static.wixstatic.com/media/ec091c_1bc3eb93418e47a2a08414b656890241~mv2.jpg/v1/fill/w_1250,h_641,al_c,q_85,enc_auto/ec091c_1bc3eb93418e47a2a08414b656890241~mv2.jpg");

  background-repeat: round;
  background-size: auto;
  background-attachment: fixed;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.container-home {
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

/* @media (max-width: 1024px) {
  body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
} */

.painel {
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap; /*permite que a flexbox quebre linhas*/
  align-items: center;
  justify-content: center;
  row-gap: 2px; /* Separa as linhas, não deixando grudar */
  column-gap: 6px; /*separa as colunas, não deixando grudar tb */
  width: 400px;
  height: 450px;
}

.container-painel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 480px;
  height: 600px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #ea37f7;
  background-image: url("../../assets/LineUp.png");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px #000;
  /* font-family: "untitled1regular"; */
  margin: 10px;
}

.text {
  text-shadow: -0.7px -0.7px 0 #000, 0 -0.7px 0 #000, 0.7px -0.7px 0 #000,
    0.7px 0 0 #000, 0.7px 0.7px 0 #000, 0 0.7px 0 #000, -0.7px 0.7px 0 #000,
    -0.7px 0 0 #000;
}
